@font-face {
    font-family: 'GT-America-Standard-Medium';
    src: url('./fonts/GT-America-Standard-Medium.otf');
}

@font-face {
    font-family: 'GT-America-Standard-Medium-Italic';
    src: url('./fonts/GT-America-Standard-Medium-Italic.otf');
}


body {
    font-family: 'GT-America-Standard-Medium';
}

a {
    text-decoration: none;
    color: black;
}

i {
    font-family: 'GT-America-Standard-Medium-Italic';
    font-style: normal;
}

.current {
    color: #d3a629;
}

.noselect {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    user-select: none;
}

/***************************************/
/* Styles for the background slideshow */
/***************************************/
.landing {
    background-image: url("./images/katynelsonyoga0.jpg");
}

/*********************************/
/* Styles for the navbar content */
/*********************************/
.navbar {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 9px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    font-size: 23px;
}

#navHeader {
    grid-area: 1 / 1 / 2 / 5;
}

#navItems {
    grid-area: 1 / 5 / 2 / 11;
    display: flex;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    margin-left: 15px;
    justify-content: space-between;
}

.navItem a {
    transition-duration: 0.2s;
}

.navItem a:not(.current):hover {
    color: #1c43b5;
}

.hamburgerButton {
    display: none;
}

/***************************************/
/* Styles for the main website content */
/***************************************/
.main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 7px;
}

#mainImage {
    padding-top: 30px;
    grid-area: 1 / 1 / 2 / 5;
}

#mainText {
    grid-area: 1 / 5 / 2 / 9;
    margin-left: 15px;
    margin-right: 70px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    overflow: scroll;
    font-size: 23px;
}

#mainSubtext {
    padding-top: 14px;
    grid-area: 1 / 9 / 2 / 11;
    line-height: 1.2;
}

#mainFullWidth {
    padding-top: 30px;
    margin-left: 15px;
    grid-area: 1 / 5 / 2 / 11;
}

/*******************************/
/* Styles for the contact form */
/*******************************/
#contactForm {
    display: grid;
    height: 500px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#contactFormNameItem {
    grid-area: 1/ 1 / 2/ 5;
    border: 2px solid black;
    padding: 25px 0px 30px 30px;
    font-family: 'GT-America-Standard-Medium';
    font-size: 23px;
    caret-color: #d3a629;
    transition: .2s;
    box-sizing: border-box;
    width: 100%;
}

#contactFormNameItem::placeholder {
    color: black;
    opacity: 1;
}

#contactFormNameItem:hover {
    border: 2px solid #1c43b5;
}

#contactFormNameItem:focus {
    color: #1c43b5;
    border: 2px solid #1c43b5;
}

#contactFormEmailItem {
    grid-area: 1/ 5/ 2/ 7;
    border: 2px solid black;
    padding: 25px 0px 30px 25px;
    font-family: 'GT-America-Standard-Medium';
    font-size: 23px;
    caret-color: #d3a629;
    transition: .2s;
    box-sizing: border-box;
    width: 100%;
}

#contactFormEmailItem::placeholder {
    color: black;
    opacity: 1;
}

#contactFormEmailItem:hover {
    border: 2px solid #1c43b5;
}

#contactFormEmailItem:focus {
    color: #1c43b5;
    border: 2px solid #1c43b5;
}

#contactFormMessageItem {
    grid-area: 2/ 1/ 6/ 7;
    border: 2px solid black;
    padding: 25px 0px 30px 30px;
    font-family: 'GT-America-Standard-Medium';
    font-size: 23px;
    caret-color: #d3a629;
    transition: .2s;
    box-sizing: border-box;
    width: 100%;
}

#contactFormMessageItem::placeholder {
    color: black;
    opacity: 1;
}

#contactFormMessageItem:focus {
    color: #1c43b5;
    border: 2px solid #1c43b5;
}

#contactFormMessageItem:hover {
    border: 2px solid #1c43b5;
}

#contactFormSubmitItem {
    grid-area: 6/ 1/ 6/ 2;
    border: 2px solid black;
    font-family: 'GT-America-Standard-Medium';
    font-size: 23px;
    color: black;
    background-color: white;
    transition: .2s;
}

#contactFormSubmitItem:hover {
    color: #1c43b5;
    border: 2px solid #1c43b5;
}

@media only screen and (max-width: 1200px) {
    .visible {
        display: block;
    }

    .navbar {
        grid-template-columns: repeat(20, 1fr);
        display: grid;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 2px solid black;
        font-size: 23px;
    }

    #navHeader {
        grid-area: 1 / 1 / 2 / 14;
    }

    #navItems {
        grid-area: 1 / 14 / 2 / 20;
        display: block;
        text-align: right;
    }

    .navItem a:not(.current):not(.visible) {
        display: none;
    }

    .hamburgerButton {
        grid-area: 1 / 20 / 2 / 21;
        display: inline-block;
        text-align: right;
        font-size: 30px;
        line-height: 0.8;
        margin-left: 10px;
        cursor: pointer;
    }
}